# Chapter 02: Variables
## 2.1 Variables

- a label or tag used to store data
- The assignment operator (=) simply creates an association between a name and a value.

**The rules for legal Python names:**
1. Names must start with a letter or _.
2. Names must contain only letters, digits, and _.
3. Names must not be a Python keyword.

```python
False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not                 
```

**Example**

In [ ]:
food = 50 + 35
print(food)

In [ ]:
drink = 10 + 15
print(drink)

In [ ]:
total = food + drink
print(total)

In [ ]:
say = 'Hi'
name = 'John'
print(say + ', ' + name)

> **Tips:** Camel Case VS Snake Case 
> - Varible name in Python should be snake case.

**Python variables can be reassigned.**

In [ ]:
x = 50.0
print(x)

x = 'Hello'
print(x)

## 2.2 Types and Objects

Every piece of data stored in a program is an object. Each object has an identity, a value, and a type.

**Common built-in data types**

The table below shows the basic data types used in Python.

| Category    | Type Name | Description                             |
|-------------|-----------|-----------------------------------------|
| Numbers     | int       | A whole number                          |
| Numbers     | float     | A floating-point number                 |
| Booleans    | bool      | A True or False value                   |
| Collections | str       | A sequence of characters                |  
| Collections | list      | An ordered sequence of values           |
| Collections | tuple     | An unmodified versionof lists           |
| Collections | dict      | An unordered grouping of key-value pairs|
| Collections | set       | An unordered grouping of values         |


An object that contains references to other objects is said to be a **container** or **collection**. 

> `type(object)` is the most fundamental built-in function, which returns the type of input object.

**Example**

In [ ]:
type(5)

In [ ]:
type(5.1)

In [ ]:
type('5')

In [ ]:
type('Good Morning')

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
type(['a','b','c'])

In [ ]:
type(('a','b','c'))

In [ ]:
type({'a','b','c'})

In [ ]:
type({'Thailand': 'Bangkok', 'Japan': 'Tokyo'})

### Built-in Classes: `str`, `int`, `float`

**`str()`**

In [ ]:
str(2)

In [ ]:
a = str(2)
type(a)

**`int()`**

In [ ]:
int('33')

In [ ]:
int('-33')

In [ ]:
int(-33.5)

In [ ]:
int('33.5')

> If built-in class `int` is called with a string that contains anything other than digits, a `ValueError` happens.

**`float()`**

In [ ]:
float('35.2')

In [ ]:
float('35')

In [ ]:
float(35)

## 2.3 Mutability
- After an object is created, its identity and type cannot be changed.
- If an object's value <em style="color:blue">can be modified</em>, the object is said to be <em style="color:blue">mutable</em>.  
    - e.g., lists, dictionaries
- If the value <em style="color:red">cannot be modified</em>, the object is said to be <em style="color:red">immutable</em>.
    - e.g., integers, floats, strings, tuples

**Example**

In [ ]:
age = 20
id(age)

In [ ]:
age = age + 1
id(age)

In [ ]:
my_list = [1, 2, 3]
id(my_list)

In [ ]:
my_list.append(99)
my_list

In [ ]:
id(my_list)

In [ ]:
my_list_2 = my_list

In [ ]:
my_list_2[0] = 100

In [ ]:
my_list_2

In [ ]:
my_list

In [ ]:
id(my_list_2)

**Exercise 1** Assign a variable and print the value

- assign a string value to a variable `student_name`,
- print the value of variable `student_name`,
- assign the `student_name` variable  a different string value (a different name),
- print the value of variable `student_name`,
- assign and print a 3rd value to `student_name`

In [ ]:
# SOLUTION

**Exercise 2** Write python statements that do the following.
1. Create a new variable `x`, and assign it the value `10.5`.
2. Create a new variable `y`, and assign it the value `4`.
3. Sum x and y, and make `x` refer to the resulting value. After this statement has been executed, what are `x` and `y`â€™s values?

In [ ]:
# SOLUTION

**Exercise 3** Add the following three numbers as integers and print the result

In [ ]:
# SOLUTION
str_num_1 = "11"
str_num_2 = "15"
int_num_3 = 10

# add the 3 numbers as integers and print the result