# Chapter 08: Data Structures

## 8.1 String

### 8.1.1 Accessing String Characters with Index

|  H  |  a  |  p  |  p  |  y |    |  F |  r |  i |  d |  a |  y |  ! |
|:---:|:---:|:---:|:---:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|  0  |  1  |  2  |  3  |  4 |  5 |  6 |  7 |  8 |  9 | 10 | 11 | 12 |
| -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |

> An `IndexError` exception will occur if you try to use an index that is out of range for a particular string.

**Example**

In [ ]:
words = 'Happy Friday!'

print(words[0])
print(words[3])
print(words[5])
print(words[-1])
print(words[-3])

### 8.1.2 Accessing Substrings with Index Slicing
Uses the syntax `[start : finish]`, where:
- `start` is the index of where we start the subsequence.
- `finish` is the index of one after where we end the subsequence.

**Example**

In [ ]:
words = 'Happy Friday!'
print(words[0:5])
print(words[:5])
print(words[6:])
print(words[4:-3])

In [ ]:
name = input('Enter your friend\'s name: ')
print('Your friend\'s name starts with', name[0])

### 8.1.3 Extended Slicing

**Example**

In [ ]:
words = 'Happy Friday!'

print(words[::2])
print(words[1:11:3])

### 8.1.4 More String Methods
**1. Counting and Searching**
- The <code>.count(<em style="color:blue">string</em>)</code> method returns the number of times a character or substring occurs.  

- The <code>.find(<em style="color:blue">string</em>)</code> method returns the index of first character or substring that matches. It returns **-1** if no match found. 

- The <code>.find(<em style="color:blue">string</em>,<em style="color:blue">start_index</em>,<em style="color:blue">end_index</em>)</code> method works in the same way as the `.find()` method but searches from optional <code><em style="color:blue">start_index</em></code> and to optional <code><em style="color:blue">end_index</em></code>.

**2. Strings to Lists**

- The <code>.split()</code> method splits a string at white spaces to create a list.

- The <code>.split(<em style="color:blue">sep</em>)</code> method works in the same way as the `.split()` method but uses <code><em style="color:blue">sep</em></code> as break points instead.

**3. Lists to Strings**

The <code>.join()</code> method builds a string from a list.

**Example**

In [ ]:
# .find()

sentence = 'This is a dessert.'
print(sentence.find('s'))
print(sentence.find('s',4))
print(sentence.find('s',sentence.find('s')+1))

In [ ]:
# .split()

sentence = 'This is a dessert.'
words = sentence.split()
print(words)

In [ ]:
# .split(dep)

sentence = 'This is a dessert.'
words = sentence.split('s')
print(words)

In [ ]:
# .split(sep)

code = 'aa-bb-cc-dd-zz'
code_split = code.split('-')
print(code_split)

In [ ]:
# .join()

words = ['This', 'is', 'a', 'dessert.']
sentence = ' '.join(words)
print(sentence)

## 8.2: Lists

- **List Creation and Iteration** 
- **Indexing and Slicing**  
- **List of Lists**  
- **List Mutability**  
- **The `+` and `*` Operator**
- **List Methods** 
- **List Comprehensions**

### 8.2.1 List Creation and Iteration

A `list` type is a Python's built-in collection type.
A simple lists contains comma separated objects enclosed in square brackets.  

```python
empty_list = []
sample_list = [1, 2, 3, 4, 5]
```

List object types are not restricted so a mix of object types can be in single list.
```python
mixed_list = [1, 2.0, 'Hello', True]
```

**Example**

In [ ]:
sample_list = [1, 2, 3, 4, 5]
mixed_list = [1, 2.0, 'Hello', True]

print('sample_list', type(sample_list), sample_list)
print('mixed_list', type(mixed_list), mixed_list)

In [ ]:
customer_list = ['Somsri', 'Somchai','Somying','Somkit', 'Somsak', 'Somjai']
for customer in customer_list:
    print(customer)

**Some Useful Function:**
- `len()`  `min()`  `max()`  `sum()`

**Example**

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

print('len:', len(my_list))
print('min:', min(my_list))
print('max:', max(my_list))
print('sum:', sum(my_list))

### 8.2.2 Indexing and Slicing

**Example**

In [ ]:
my_list = [1, 2.0, 'Hello', True]
my_list[1]

In [ ]:
my_list[:2]

In [ ]:
my_list[::2]

### 8.2.3 List of Lists

**Example**

In [ ]:
data = [
    ['id','name', 'color', 'country'],
    [11001,'Somsak', 'Black', 'Thailand'],
    [12004, 'Satoko', 'Pink', 'Japan'],
    [13010, 'Angelina', 'Blue', 'Brazil']
]

row = data[1]
print(row)

In [ ]:
column = row[2]
print(column)

In [ ]:
print(data[1][2])

### 8.2.4 List Mutability

**Example**

In [ ]:
name = ['Somsak', 'Satoko', 'Angelina']
print('name list:', name)

name[0] = 'Somchai'
print('new name list:', name)

### 8.2.5 The `+` and `*` Operator

**Example**

In [ ]:
num1 = [1,4,6,3]
num2 = [5,3,8]
num3 = num1 + num2
print('list1:', num1)
print('list2:', num2)
print('list1 + list2:', num3)

In [ ]:
my_list = [7,8,9]
my_list *= 2
print(my_list)

### 8.2.6 List Methods

**1. List Append: `.append(item)`**

**Example**

In [ ]:
my_list = [1,2,3,4]
my_list.append(5)
my_list.append(6)
my_list.append('one')
print(my_list)

**2. List Insert: `.insert(index,item)`**

**Example**

In [ ]:
name = ['Somsak', 'Satoko', 'Angelina']
name.insert(0,'Somchai')
print(name)

**3. List Delete: `del`, `.pop()`, `.pop(index)`, `.remove(item)`**

**Example**

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

del my_list[2]
print(my_list)

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list.pop())
print(my_list)

In [ ]:
my_list.pop(2)

In [ ]:
print(my_list)

In [ ]:
name_list = ['Somchai', 'Somsak', 'Satoko', 'Angelina']

name_list.remove('Somchai')
print(name_list)

In [ ]:
name_list = ['Somchai', 'Somsak', 'Satoko', 'Angelina']

if 'Somsak' in name_list:
    name_list.remove('Somsak')
else:
    print("No 'Somsak' in the list")

print(name_list)

**4. List Search: `.index(item)`**

**Example**

In [ ]:
customer_list = ['Somsri', 'Somchai','Somying','Somkit', 'Somsak', 'Somjai']
search = input('Enter customer name: ')

index = customer_list.index(search)
print(search, 'is at index', index, 'in the list')

**5. List Combine: `.extend()`**

**Example**

In [ ]:
customer_list = ['Somsri', 'Somchai','Somying','Somkit', 'Somsak', 'Somjai']
new_customer = ['Somporn','Kwanjai']

all_customer = customer_list + new_customer
print(all_customer)

customer_list.extend(new_customer)
print(customer_list)

**6. List Reverse: `reverse()`**

**Example**

In [ ]:
customer_list = ['Somsri', 'Somchai','Somying','Somkit', 'Somsak', 'Somjai']

print(customer_list)
customer_list.reverse()
print(customer_list)

**7. List Sort: `.sort()`, `sorted()`**

**Example**

In [ ]:
# .sort()
my_list = [1,4,6,3,0,9,2]
my_list.sort()
print(my_list)

In [ ]:
# sorted()
my_list = [1,4,6,3,0,9,2]
my_list = sorted(my_list)
print(my_list)

**8.Copy List**

**Example**

In [ ]:
# Copy problem
list_a = [1,2,3,4,5]
list_b = list_a

list_a[1] = 4

print(list_a)
print(list_b)

In [ ]:
# Why?
print(id(list_a))
print(id(list_b))

In [ ]:
# Solution 1
list_a = [1,2,3,4,5]
list_b = list(list_a)

list_a[1] = 4

print(list_a)
print(list_b)

In [ ]:
# Solution 2
list_a = [1,2,3,4,5]
list_b = list_a[:]

list_a[1] = 4

print(list_a)
print(list_b)

In [ ]:
list_a = [1,2,3,4,[1,2,3]]
list_b = list(list_a)

list_a[4][0]=99

print(list_a)
print(list_b)

**Exercise 1** Name Display

Write a program that gets a string containing a person’s first and last names as separate values, and then displays their “initials”, “name in address book”, and “username”. For example, if the user enters a first name of “John” and a last name of “Smith”, the program should display “J.S.”, “John SMITH”, and “jsmith”.

In [ ]:
# SOLUTION

## 8.3 Tuples

### 8.3.1 Tuple Creation and Iteration

A tuple is a sequence, very much like a list. 
The primary difference between tuples and lists is that tuples are <em style="color:blue">immutable</em>. 
That means that once a tuple is created, it cannot be changed. 
> the parentheses can be omitted!

In [ ]:
def fun_a(a,b):
    return a,b

In [ ]:
a,b = fun_a(1,5)
print(a)
print(b)

**Example**

In [ ]:
num1 = (1,2,3,4)
num2 = 1,2,3,4
print('num1:',num1, type(num1))
print('num2:',num2, type(num2))

In [ ]:
(x,y) = 1,2
print(x,y)

In [ ]:
num1 = (1,2,3,4)
for i in num1:
    print(i)

### 8.3.2 Tuples vs. Lists

Tuples are <em style="color:blue">immutable</em>. 

Tuples do not support methods such as `.append()`, `.extend()`, `.remove()`, `.pop()`, `.reverse()`, `.insert()`, and `.sort()`.

**Example**

In [ ]:
my_tuple = (1, 2.0, 'Hello', True)
my_tuple[1]

In [ ]:
my_tuple = (1, 2.0, 'Hello', True)
my_tuple.index('Hello')

In [ ]:
numbers = (1,2,3,4,5)
print('len:', len(numbers))
print('min:', min(numbers))
print('max:', max(numbers))

In [ ]:
numbers = (1,2,3,4,5)
1 in numbers

In [ ]:
numbers1 = (1, 2, 3, 4, 5)
numbers2 = (11, 12, 13, 14, 15)
new_numbers = numbers1 + numbers2
print(new_numbers)

In [ ]:
numbers = (1, 2, 3, 4, 5)
new_numbers = numbers *2
new_numbers

In [ ]:
# tuples are immutable
numbers = (1, 2, 3, 4, 5)
numbers[0] = 100

### 8.3.3 Unpack

**Example**

In [ ]:
data = (11001,'Somsak', 'Black', 'Thailand')
id_no, name, color, country = data

print(name, country)

### `tuple()` and `list()`

**1. Lists to Tuples**

**Example**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

In [ ]:
sorted_list = sorted(my_tuple)  # "sorted" creates new list
print(sorted_list, type(sorted_list))

In [ ]:
new_tuple = tuple(sorted_list)
print(new_tuple, type(new_tuple))

**2. Tuples to Lists**

**Example**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

In [ ]:
sorted_list = sorted(my_list)        # "sorted" creates new list
print(sorted_list, type(sorted_list))

In [ ]:
print('Before Sort', my_list)
my_list.sort()                       # sort my_list
print('After Sort', my_list)

# 8.4 Dictionary

### 8.4.1 Dictionary Creation, Lookup, and Update

```python
capital = {'Thailand':'Bangkok', 'Japan':'Tokyo', 'United Kingdom':'London'}
```

**Example**

In [ ]:
empty_dict = {}
print(empty_dict)

sample_dict = {'a':1}
print(sample_dict)

cities = {'China': ['Shanghai', 'Beijing'],
          'USA': ['New York', 'Los Angeles'],
          'Spain': ['Madrid', 'Barcelona'],
          'Australia': ['Sydney', 'Melbourne']}
print(cities)

### 8.4.2 Dictionary Methods

**1. `get()` method**

**Example**

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86}

print(grades.get('Math'))
print(grades.get('Thai'))
print(grades.get('Thai', 'N/A'))

**2. `update()` method**

**Example**

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86}
grades.update({'Math':100, 'Gym':50})   # Change Math, add Gym
print(grades)

**3. `setdefault()` method**

**Example**

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86} 

grades.setdefault('Art',87)    # Art key exists. No change.
print('Art grade:', grades['Art'])

grades.setdefault('Gym',50)    # Gym key is new. Added and set.
print('Gym grade:', grades['Gym'])

**4. `.copy()` method**

**Example**

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86} 
grades2 = grades.copy()

print('grades = ', grades)
print('grades2 = ', grades2)
print('grades2 is grades', grades2 is grades)
print('grades2 == grades', grades2 == grades)

**5. `clear()` method**

**Example**

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86} 
print('grades before clear()', grades)

grades.clear()
print('grades after clear()', grades)

### 8.4.3 Dictionaries View Objects

`.keys()`, `.values()`, `.items()`

**Example**

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86} 

print(grades.keys())
print(grades.values())
print(grades.items())

In [ ]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86}

grade_points = grades.values()
print('Grade points:', grade_points)

grades['Art'] = 100
print('Grade points:', grade_points)

### 8.4.4 Iteration over Dictionaries

**Example**

In [ ]:
capitals = {'USA': 'Washington, D.C.',
            'China': 'Beijing',
            'France': 'Paris',
            'England': 'London',
            'Italy': 'Rome',
            'Russia': 'Moscow',
            'Australia': 'Canberra',
            'Peru': 'Lima',
            'Japan': 'Tokyo'}

for country in capitals:
    print("{}, {}".format(capitals[country], country))

### 8.4.5 The `in` Keyword

**Example**

In [ ]:
mapping = {1: 5, 8: -3, 7: 22, 4: 13, 22: 17}

# Keys
print(1 in mapping)
print(8 in mapping)

# Values
print(5 in mapping)
print(-3 in mapping)

# Both
print(22 in mapping)

# Neither
print(82 in mapping)

In [ ]:
mapping = {1: 5, 8: -3, 7: 22, 4: 13, 22: 17}
keys = [8, 14, 22, 25]

for key in keys:
    if key in mapping:
        print(key, mapping[key])
    else:
        print('{} not in mapping'.format(key))

### 8.4.6 Dictionary as a Set of Counters

**Example**

In [ ]:
speech = "to be or not to be" 
speech_list = speech.split()
word_count_dict = {}

for word in speech_list:
    if word in word_count_dict:
        word_count_dict[word] += 1
    else:
        word_count_dict[word] = 1
print(word_count_dict)

**Exercise 2** Alphabetic Telephone Number Translator

Many companies use telephone numbers like 555-GET-FOOD so the number is easier for their customers to remember. On a standard telephone, the alphabetic letters are mapped to numbers in the following fashion:

A, B, and C ︎= 2

D, E, and F = 3

G, H, and I = 4

J, K, and L = 5

M, N, and O = 6 P, Q, R, and S = 7

T, U, and V = 8

W, X, Y, and Z = 9

Write a program that asks the user to enter a 10-character telephone number in the format XXX-XXX-XXXX. The program should display the telephone number with any alphabetic characters that appeared in the original translated to their numeric equivalent. For example, if the user enters 555-GET-FOOD, the program should display 555-438-3663.

In [ ]:
# SOLUTION

**Exercise 3** Most Frequent Character

Write a program that lets the user enter a string and displays the character that appears most frequently in the string.

In [ ]:
# SOLUTION

**Exercise 4** Capital Quiz

Write a program that creates a dictionary containing the U.S. states as keys and their capitals as values. The program should then randomly quiz the user for 5 times by displaying the name of a state and asking the user to enter that state’s capital. The program should keep a count of the number of correct and incorrect responses.

In [ ]:
capital_dic={
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona':'Phoenix',
    'Arkansas':'Little Rock',
    'California': 'Sacramento',
    'Colorado':'Denver',
    'Connecticut':'Hartford',
    'Delaware':'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
    'Hawaii': 'Honolulu',
    'Idaho': 'Boise',
    'Illinios': 'Springfield',
    'Indiana': 'Indianapolis',
    'Iowa': 'Des Monies',
    'Kansas': 'Topeka',
    'Kentucky': 'Frankfort',
    'Louisiana': 'Baton Rouge',
    'Maine': 'Augusta',
    'Maryland': 'Annapolis',
    'Massachusetts': 'Boston',
    'Michigan': 'Lansing',
    'Minnesota': 'St. Paul',
    'Mississippi': 'Jackson',
    'Missouri': 'Jefferson City',
    'Montana': 'Helena',
    'Nebraska': 'Lincoln',
    'Neveda': 'Carson City',
    'New Hampshire': 'Concord',
    'New Jersey': 'Trenton',
    'New Mexico': 'Santa Fe',
    'New York': 'Albany',
    'North Carolina': 'Raleigh',
    'North Dakota': 'Bismarck',
    'Ohio': 'Columbus',
    'Oklahoma': 'Oklahoma City',
    'Oregon': 'Salem',
    'Pennsylvania': 'Harrisburg',
    'Rhoda Island': 'Providence',
    'South Carolina': 'Columbia',
    'South Dakoda': 'Pierre',
    'Tennessee': 'Nashville',
    'Texas': 'Austin',
    'Utah': 'Salt Lake City',
    'Vermont': 'Montpelier',
    'Virginia': 'Richmond',
    'Washington': 'Olympia',
    'West Virginia': 'Charleston',
    'Wisconsin': 'Madison',
    'Wyoming': 'Cheyenne'  
}

In [ ]:
# SOLUTION

# 8.5: Sets

### 8.5.1 Set Creation and Manipulation

Sets are <em style="color:red">mutable</em> unordered collections of distinct <em style="color:blue">immutable</em> objects. 
```python
classes = {'English', 'Math', 'Art', 'Music'}
```

**Example**

In [ ]:
numbers = {3, 2, 1, 4}
print(numbers)

letters = {'a', 'b', 'a', 'c', 'b'}
print(letters)

empty = {}
print(empty, type(empty))

In [ ]:
empty2 = set()
print(empty2, type(empty2))

set1 = set([3, 1, 1, 3, 6, 5])
print(set1)

set2 = set(range(5))
print(set2)

In [ ]:
letters = {'a', 'b', 'a', 'c', 'b'}
print(letters)

for char in letters:
    print(char)

### 8.5.2 Set Methods
**1. Add Elements: `.add()`, `.update()`**

**Example**

In [ ]:
my_set = set([3, 1, 1, 3, 6, 5])
print(my_set)

my_set.add(10)     # Add a single element
print(my_set)

my_set.add(5)      # Try to add the same element
print(my_set)

my_set.update([66, 27, 39])      # Add multiple elements
print(my_set)

**2. Delete Elements: `.remove()`, `.discard()`, `.pop()`**

**Example**

In [ ]:
my_set = set([3, 1, 1, 3, 6, 5])
print(my_set)

my_set.discard(3)  # Remove an element from a set if it is a member.
print(my_set)

my_set.remove(5)   # Remove an element from a set if it is a member.
print(my_set)

my_set.discard(7)  # If the element is not a member, do nothing.
print(my_set)

In [ ]:
my_set = set([7, 3, 1, 1, 3, 6, 5, 9])
print(my_set)

my_set.pop()       # Remove and return an arbitrary set element.
print(my_set)

**3. Copy a Set: `.copy()`**

**Example**

In [ ]:
classes = {'English', 'Math', 'Art', 'Music'}
classes2 = classes.copy()     

print('classes = ', classes)
print('classes2 = ', classes2)
print('classes2 is classes', classes2 is classes)
print('classes2 == classes', classes2 == classes)

**4. Perform Mathermatical Set Operations:**




- `.difference()`
- `.union()`
- `.intersection()`
- `.isdisjoint()`
- `.issubset()`
- `.issupperset()`

**Example**

In [ ]:
# .difference()

set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}

print('set1 =', set1)
print('set2 =', set2)

print(set1.difference(set2))
print(set2.difference(set1))

In [ ]:
# .union()

set1 = {1, 2, 3}
set2 = {1, 2, 4}

print('set1 =', set1)
print('set2 =', set2)

print(set1.union(set2))
print(set2.union(set1))

In [ ]:
# .intersection()

set1 = {1, 2, 3}
set2 = {1, 2, 4}

print('set1 =', set1)
print('set2 =', set2)

print(set1.intersection(set2))
print(set2.intersection(set1))

In [ ]:
# .isdisjoint()

set1 = {1,2}
set2 = {1,2,4}
set3 = {5}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

In [ ]:
# .issubset()

set1 = {1,2}
set2 = {1,2,4}

print(set1.issubset(set2))
print(set2.issubset(set1))

In [ ]:
# .issuperset()

set1 = {1,2}
set2 = {1,2,4}

print(set1.issuperset(set2))
print(set2.issuperset(set1))

**Exercise 5** Unique Characters

Write a function that takes a string as an argument and returns a list of unique characters in the string. Ignore case.

In [ ]:
# SOLUTION