# Lesson 17: Access Database from Python

- **`ipython-sql` Package**
- **Introducing `chinook` Database**
- **Access the Database with the `sqlite3` Module**
- **Other Methods to Get the Results**
- **Other SQL Statements**
- **Prepared Statement**
- **Databases and CSV Files¶** 
- **An Example with MySQL**

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
    <code style="color:inherit">ipython-sql</code> Package</h1>

`ipython-sql` package allows us to use SQL queries nicely inside jupyter notebooks.

To install this package with `conda` run:  
`conda install -c conda-forge ipython-sql` 

To install this package with `pip` run:  
`pip install ipython-sql`

In [ ]:
!pip install ipython-sql

### 1. We will load the `ipython-sql` extension as follows:

In [4]:
%load_ext sql

### 2. We will connect to a database, using connect strings, then issue SQL commands within jupyter notebook.

#### MySQL

- **`mysql-connector-python`:**  
We can use the `mysql-connector-python` package to connect to the MySQL database from Python. 

    To install `mysql-connector-python` package with `conda` run:  
    `conda install mysql-connector-python`

    To install `mysql-connector-python` package with `pip` run:  
    `pip install mysql-connector-python`

In [ ]:
!pip install mysql-connector-python

- **Connect string pattern:**  
`mysql+mysqlconnector://<user>:<password>@<host>[:<port>]/<dbname>`

- **Example:**  
`mysql+mysqlconnector://root:secret@localhost/sqldb`

###### Connect to database

In [ ]:
%sql mysql+mysqlconnector://root:secret@localhost/sqldb

###### Execute SQL:  

Every time you run a line of SQL code in jupyter notebook, you will need to preface the line with <code style="color:blue">%sql</code>.

In [ ]:
%sql SELECT * FROM project

###### Execute SQL on multiple lines:

To execute SQL on multiple lines, you must include two percent signs in front of the SQL prefix instead of one.

In [ ]:
%%sql
SELECT *
FROM project

### SQLite3
SQLite is a server-less SQL database engine. Each SQLite database is stored in a single file that can easily be transported between computers.

- **`sqlite3`**  
We can use the `sqlite3` module from the Python standard library to connect to the sqlite database.

- **Connect string pattern:**  
`sqlite://<nohostname>/<path>`
    - where `<path>` is relative  
As SQLite connects to local files, the format is slightly different. For a relative file path, this requires three slashes.

- **Example:**  
`sqlite:///databases/chinook.db`

###### Connect to database

In [ ]:
%sql sqlite:///databases/chinook.db

###### Execute SQL:

Every time you run a line of SQL code in jupyter notebook, you will need to preface the line with <code style="color:blue">%sql</code>.

In [ ]:
%sql SELECT FirstName, LastName, Email FROM customers ORDER BY FirstName LIMIT 5

###### Execute SQL on multiple lines:

To execute SQL on multiple lines, you must include two percent signs in front of the SQL prefix instead of one.

In [ ]:
%%sql 
SELECT FirstName, LastName, Email 
FROM customers 
ORDER BY FirstName

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
    Introducing <code style="color:inherit">chinook</code> Database</h1>

The `chinook` data model represents a digital media store, including tables for artists, albums, media tracks, invoices and customers.

There are 11 tables in the `chinook` sample database.
- `employees` table stores employees data such as employee id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.
- `customers` table stores customers data.
- `invoices` & `invoice_items` tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.
- `artists` table stores artists data. It is a simple table that contains only artist id and name.
- `albums` table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
- `media_types` table stores media types such as MPEG audio file, ACC audio file, etc.
- `genres` table stores music types such as rock, jazz, metal, etc.
- `tracks` table store the data of songs. Each track belongs to one album.
- `playlists` & `playlist_track` tables: playlists table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists table and tracks table is many-to-many. The playlist_track table is used to reflect this relationship.

In [ ]:
%sql sqlite:///databases/chinook.db

###### Practice 1: Find customers (FirstName, LastName) who live in USA, Canada, and Australia

In [ ]:
%sql SELECT * FROM customers limit 3

In [27]:
expected_result1

[('François', 'Tremblay'),
 ('Mark', 'Philips'),
 ('Jennifer', 'Peterson'),
 ('Frank', 'Harris'),
 ('Jack', 'Smith'),
 ('Michelle', 'Brooks'),
 ('Tim', 'Goyer'),
 ('Dan', 'Miller'),
 ('Kathy', 'Chase'),
 ('Heather', 'Leacock'),
 ('John', 'Gordon'),
 ('Frank', 'Ralston'),
 ('Victor', 'Stevens'),
 ('Richard', 'Cunningham'),
 ('Patrick', 'Gray'),
 ('Julia', 'Barnett'),
 ('Robert', 'Brown'),
 ('Edward', 'Francis'),
 ('Martha', 'Silk'),
 ('Aaron', 'Mitchell'),
 ('Ellie', 'Sullivan'),
 ('Mark', 'Taylor')]

###### Practice 2: Find invoices whose total is between 14.96 and 18.86

In [ ]:
%sql SELECT * FROM invoices limit 3

In [30]:
expected_result2

[(88, 57, '2010-01-13 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 17.91),
 (89, 7, '2010-01-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 18.86),
 (103, 24, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86),
 (201, 25, '2011-05-29 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 18.86),
 (208, 4, '2011-06-29 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 15.86),
 (306, 5, '2012-09-05 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 16.86),
 (313, 43, '2012-10-06 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 16.86)]

###### Practice 3:  Find tracks on the album 1 that have the length greater than 200,000 milliseconds

In [ ]:
%sql SELECT * FROM tracks limit 3

In [33]:
expected_result3

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99),
 (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, 0.99),
 (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, 0.99),
 (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, 0.99),
 (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, 0.99),
 (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, 0.99),
 (12, 'Breaking The Rules', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263288, 8596840, 0.99),
 (13, 'Night Of The Long Knives', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205688, 6706347, 0.99),
 (14, 'Spellbound', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 270863, 8817038, 0.99)]

###### Practice 4: Find albums that have the number of tracks between 18 and 20

In [ ]:
%sql SELECT * FROM tracks limit 3

In [35]:
expected_result4

[(21, 18),
 (37, 20),
 (54, 20),
 (55, 20),
 (72, 18),
 (102, 18),
 (115, 20),
 (145, 18),
 (146, 18),
 (202, 18),
 (211, 18),
 (213, 18),
 (221, 20),
 (227, 19),
 (248, 19),
 (258, 19)]

###### Practice 5: Find the tracks and albums of the artist with id 10

In [ ]:
%sql SELECT * FROM tracks limit 3

In [ ]:
%sql SELECT * FROM albums limit 3

In [ ]:
%sql SELECT * FROM artists limit 3

In [40]:
expected_result5

[(123, 'Quadrant', 'The Best Of Billy Cobham', 'Billy Cobham'),
 (124, "Snoopy's search-Red baron", 'The Best Of Billy Cobham', 'Billy Cobham'),
 (125, 'Spanish moss-"A sound portrait"-Spanish moss', 'The Best Of Billy Cobham', 'Billy Cobham'),
 (126, 'Moon germs', 'The Best Of Billy Cobham', 'Billy Cobham'),
 (127, 'Stratus', 'The Best Of Billy Cobham', 'Billy Cobham'),
 (128, 'The pleasant pheasant', 'The Best Of Billy Cobham', 'Billy Cobham'),
 (129, 'Solo-Panhandler', 'The Best Of Billy Cobham', 'Billy Cobham'),
 (130, 'Do what cha wanna', 'The Best Of Billy Cobham', 'Billy Cobham')]

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
Access the Database with the <code style="color:inherit">sqlite3</code> Module</h1>

SQLite is a server-less SQL database engine. Each SQLite database is stored in a single file that can easily be transported between computers. While SQLite is not as robust as enterprise relational database management systems, it works great for local databases or databases that don't have large loads.

We can use the `sqlite3` module from the Python standard library to connect to the `sqlite` database. Python's `sqlite3` module conforms to [PEP 0249, the Python Database API Specification v2.0](https://www.python.org/dev/peps/pep-0249/). So what you learn from using this library is directly applicable to other libraries that conform to the same standard.

### 1. Import a PEP 249-compliant database library.

In [ ]:
import sqlite3

### 2. Create a connection to the database. 

- The number of parameters passed to the `connect()` are database dependent. 
- In case of SQLite, this method takes one string as a parameter, which identifies the database to connect to. Because SQLite stores each entire database in a single file on disk, this is just the path to the file. 
- If the specified database does not exist, it will be created.

In [ ]:
conn = sqlite3.connect('databases/chinook.db')

In [ ]:
conn

### 3. Obtain a cursor object for the connection.

A cursor object is our interface to the database.

In [ ]:
cur = conn.cursor()

In [ ]:
cur

### 4. Write your SQL statement and sent it for execute. For example:

In [ ]:
cur.execute('SELECT FirstName, LastName, Email FROM customers ORDER BY FirstName')

### 5. Get the results from the cursor object. 

The term *cursor* refers to an internal structure used to iteratively process the rows in a result set. In general, you can think of the cursor object as an iterator that traverses a collection of records, one row at a time, making each available to us as a tuple.

In [ ]:
for row in cur:
    print(row)

### 6. Close the cursor.

In [ ]:
cur.close()

### 7. Close the connection.

In [ ]:
conn.close()

### Let's review the whole program again:

In [ ]:
# 1. Import a PEP 249-compliant database library.¶
import sqlite3

# 2. Create a connection to the database.
conn = sqlite3.connect('databases/chinook.db')

# 3. Obtain a cursor object for the connection.
cur = conn.cursor()

# 4. Write your SQL statement and sent it for execute. 
cur.execute('SELECT FirstName, LastName, Email FROM customers ORDER BY FirstName')

# 5. Get the results from the cursor object.
for row in cur:
#   print(row)   # ('Aaron', 'Mitchell', 'aaronmitchell@yahoo.ca')
    print('{:<15} {:<15} {:<10}'.format(*row))

# 6. Close the cursor.
cur.close()

# 7. Close the connection.
conn.close()

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
Other Methods to Get the Results</h1>

Besides iterating over the cursor object directly, we can use the `.fetchone()`, `.fetchmany()`, and `.fetchall()` methods it offers, which do pretty much what each of their names imply. 
- `.fetchone()` returns the current row from the result. If there are no more records, fetchone returns `None`. 
- `.fetchmany()` accepts an integer argument and returns a list of that many rows.
- `.fetchall()` returns a list containing all of the rows in the result set.

Here’s an example that demonstrates the use of these cursor methods:

In [ ]:
import sqlite3

conn = sqlite3.connect('databases/chinook.db')
cur = conn.cursor()

cur.execute('SELECT FirstName, LastName, Email FROM customers ORDER BY FirstName')

# fetch one row
# one_row = cur.fetchone()
# print(one_row)
# print('{:<15} {:<15} {:<10}'.format(*one_row))
# print('-' * 80)

# fetch the next 8 rows
# many_rows = cur.fetchmany(8)
# print(many_rows)
# for row in many_rows:
#     print('{:<15} {:<15} {:<10}'.format(*row))
# print('-' * 80)

# fetch all the rest of the rows
all_rows = cur.fetchall()
print(all_rows)
for row in all_rows:
    print('{:<15} {:<15} {:<10}'.format(*row))
    

print('*' * 40)
print(all_rows)
    

cur.close()
conn.close()

### Query conditions

Much of the time, we want only some of the data in the database. We can select a subset of the data by using the keyword `WHERE` to specify conditions that the rows we want must satisfy.

In [ ]:
# Select only customers (FirstName, LastName) who live in USA, Canada, and Australia

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
Other SQL Statements</h1>

In this section, you will learn how to use the following SQL statements in Python: `create table`, `insert`, `update`, and `delete`.

### An example with a  `CREATE TABLE` statement

In [ ]:
import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS project')

cur.execute('''\
    CREATE TABLE IF NOT EXISTS project ( 
        id      INTEGER PRIMARY KEY AUTOINCREMENT, 
        label   TEXT NOT NULL, 
        budget  NUMERIC NOT NULL 
    )
    '''
)

cur.close()
conn.close()

###### Confirm the result:

In [ ]:
%sql sqlite:///databases/example.db
    
%sql SELECT * FROM project

### An example with an `INSERT` statement

In [ ]:
import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS project')

cur.execute('''\
    CREATE TABLE IF NOT EXISTS project ( 
        id      INTEGER PRIMARY KEY AUTOINCREMENT, 
        label   TEXT NOT NULL, 
        budget  NUMERIC NOT NULL 
    )
    '''
)

cur.execute("INSERT INTO project (label, budget) VALUES ('Website', 2000)")
cur.execute("INSERT INTO project (label, budget) VALUES ('Facebook App', 999.95)")
cur.execute("INSERT INTO project (label, budget) VALUES ('Google+', 250)")
cur.execute("INSERT INTO project (label, budget) VALUES ('Mobile App', 1200)")

conn.commit()

cur.close()
conn.close()

###### Confirm the result:

In [ ]:
%sql sqlite:///databases/example.db
    
%sql SELECT * FROM project

### `conn.commit()`

When we make any changes to databases using `INSERT`, `UPDATE`, or `DELETE` statements,
we must commit those changes using the connection’s commit method:

```python
	conn.commit()
```

Committing to a database is like saving the changes made to a file in a text editor. Until we do it, our changes are not actually stored and are not visible to anyone else who is using the database at the same time. Requiring programs to commit is a form of insurance. If a program crashes partway through a long sequence of database operations and commit is never called, then the database will appear as it did before any of those operations were executed.

In [ ]:
import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS project')

cur.execute('''\
    CREATE TABLE IF NOT EXISTS project ( 
        id      INTEGER PRIMARY KEY AUTOINCREMENT, 
        label   TEXT NOT NULL, 
        budget  NUMERIC NOT NULL 
    )
    '''
)

cur.execute("INSERT INTO project (label, budget) VALUES ('Website', 2000)")
cur.execute("INSERT INTO project (label, budget) VALUES ('Facebook App', 999.95)")
cur.execute("INSERT INTO project (label, budget) VALUES ('Google+', 250)")
cur.execute("INSERT INTO project (label, budget) VALUES ('Mobile App', 1200)")

###### See the result:

In [ ]:
cur.execute('SELECT * FROM project')

for row in cur:
    print(row)

###### Confirm the result:

In [ ]:
%sql sqlite:///databases/example.db

%sql SELECT * FROM project

###### We need to commit the changes

In [ ]:
conn.commit()

cur.close()
conn.close()

### An example with an `UPDATE` statement

In [ ]:
import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute("UPDATE project SET budget = 3000 WHERE label = 'Website'")
cur.execute("UPDATE project SET budget = 1500 WHERE label = 'Facebook App'")
cur.execute("UPDATE project SET budget = 2000 WHERE label = 'Google+'")

conn.commit()

cur.close()
conn.close()

###### Confirm the result:

In [ ]:
%sql sqlite:///databases/example.db

%sql SELECT * FROM project

### An example with DELETE statement

In [ ]:
# Delete Facebook App Project

import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute("DELETE FROM project WHERE label = 'Facebook App'")

conn.commit()

cur.close()
conn.close()

###### Confirm the result:

In [ ]:
%sql sqlite:///databases/example.db

%sql SELECT * FROM project

###### Confirm the result:

In [ ]:
# Confirm that Facebook App is deleted

import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute('SELECT * FROM project')

for row in cur:
    print(row)
    
cur.close()
conn.close()

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
Prepared Statement</h1>

Sometimes the same basic statement is executed multiple times, but with different values each time. Prepared statements are often the most efficient route to take because the overhead for the server to parse and analyzing the statement is incurred only once. 

You can think of prepared statements as like a template: it provides a statement’s syntax and column names, but placeholders appear where the data values would be. 

PEP 249 defines the following styles for specifying placeholders, but also states that libraries only need to implement one of them to be considered compliant:

- Question mark — `UPDATE project SET budget = ? WHERE label = ?`
- C-style format code — `UPDATE project SET budget = %s WHERE label = %s`
- Numeric position — `UPDATE project SET budget = :1 WHERE label = :2`
- Named parameter — `UPDATE project SET budget = :amount WHERE label = :name`
- Pyformat code — `UPDATE project SET budget = %(amount)s WHERE label = %(name)s`

`sqlite3` supports the use of question marks.


An additional benefit of using prepared statements is the protection they provide against **SQL injection attacks**.

This is why many programmers prefer prepared statements—regardless of the number of times a statement is executed—when working with user-supplied data!

In [ ]:
import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS project')

cur.execute('''\
    CREATE TABLE IF NOT EXISTS project ( 
        id      INTEGER PRIMARY KEY AUTOINCREMENT, 
        label   TEXT NOT NULL, 
        budget  NUMERIC NOT NULL 
    )
    '''
)


projects = [('Website', 2000), ('Facebook app', 999.95), ('Google+', 250), ('Mobile app', 1500)]
sql_insert = "INSERT INTO project (label, budget) VALUES (?, ?)"
# cur.execute("INSERT INTO project (label, budget) VALUES (?, ?)",('Website', 2000) )

for project in projects:
    cur.execute(sql_insert, project)
    print('Insert', cur.rowcount, 'row(s)')

# An example of using .executemany()
# projects = [('Website', 2000), ('Facebook app', 999.95), ('Google+', 250), ('Mobile app', 1500)]
# sql_insert = "INSERT INTO project (label, budget) VALUES (?, ?)"
# cur.executemany(sql_insert, projects)
# print('Insert', cur.rowcount, 'row(s)')


conn.commit()

cur.close()
conn.close()

In [ ]:
%sql sqlite:///databases/example.db

%sql SELECT * FROM project

In [ ]:
# Find all the projects cost more than $500 using prepared statement

In [ ]:
# Rewrite the example with UPDATE statement using prepared statement

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
Databases and CSV Files</h1>

In [ ]:
import csv
import sqlite3

conn = sqlite3.connect('databases/example.db')
cur = conn.cursor()

cur.execute('SELECT label, budget FROM project')

data = cur.fetchall()

cur.close()
conn.close()

print(data)

with open('my_files/projects.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    header = ['project', 'budget']
    writer.writerow(header)
    writer.writerows(data)

In [ ]:
%load my_files/projects.csv

In [ ]:
%load my_files/phones.csv

In [ ]:
# Read phones.csv and save the data to phones table in the database named contacts.db

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">
An Example with MySQL</h1>

As mentioned, the number of parameters passed to the `connect()` are database dependent.
In case of MySQL, this method takes fours parameters.

### Review our `project` table

In [ ]:
%sql mysql+mysqlconnector://root:secret@localhost/sqldb

%sql SELECT * FROM project

### Get our `project` table using Python

In [ ]:
import mysql.connector

conn = mysql.connector.connect(host='localhost', 
                               user='root', 
                               password='secret',
                               database='sqldb')
cur = conn.cursor()

sql = 'SELECT * FROM project'
cur.execute(sql)

data = cur.fetchall()

cur.close()
conn.close()

print(data)

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#B24C00">
Exercise</h1>

In this exercise, you will create a table to store the population and land area of the Canadian provinces and territories according to the 2001 census. Our data is taken from http://www12.statcan.ca/english/census01/home/index.cfm.

<img src="img/canadian_cencus.png" style="max-width:50%;" >

&nbsp;

Write Python code that does the following:
1. Creates a new database called `census.db`.
2. Makes a database table called `Density` that will hold the name of the province or territory (`TEXT`), the population (`INTEGER`), and the land area (`REAL`).
3. Inserts the data from the above table.
4. Retrieves the contents of the table.
5. Retrieves the populations.
6. Retrieves the provinces that have populations of less than one million.
7. Retrieves the provinces that have populations of less than one million or greater than five million.
8. Retrieves the provinces that do not have populations of less than one million or greater than five million.
9. Retrieves the populations of provinces that have a land area greater than 200,000 square kilometers.
10. Retrieves the provinces along with their population densities (population divided by land area).

In [ ]:
# your code