# Lesson 10: Tuples

- **Tuple Creation and Iteration**
- **Tuples vs. Lists**
- **Unpack**
- **`tuple()` and `list()`**

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">Tuple Creation and Iteration</h1>

A tuple is a sequence, very much like a list. 
The primary difference between tuples and lists is that tuples are <em style="color:blue">immutable</em>. 
That means that once a tuple is created, it cannot be changed. 

When you create a tuple, you enclose its elements in a set of parentheses.
```python
numbers = (1, 2, 3, 4, 5)
```

In [ ]:
# example 1
numbers = (1, 2, 3, 4, 5)
stock = ('GOOG', 100, 490.10)      # name, shares, price
address = ('www.python.org', 80) 

print(numbers, type(numbers))
print(stock, type(stock))
print(address, type(address))

In [ ]:
# example 2
first_name = 'John'
last_name = 'Smith'
phone = '02-727-3051'

person = (first_name, last_name, phone)

print(person, type(person))

Python often recognizes that a tuple is intended even if the parentheses are missing:

In [ ]:
numbers = 1, 2, 3, 4, 5
stock = 'GOOG', 100, 490.10
address = 'www.python.org', 80
person = first_name, last_name, phone

print(numbers, type(numbers))
print(stock, type(stock))
print(address, type(address))
print(person, type(person))

0- and 1-element tuples can be defined, but have special syntax:

In [ ]:
a = ()              # 0-tuple (empty tuple)
b = (5,)            # 1-tuple 
c = 5,              # 1-tuple
print(a, b, c)
print(type(a), type(b), type(c))

If you omit the comma, you will not create a tuple.

In [ ]:
value = (1)         # create an integer
print(value, type(value))

We can do multiple assignments using tuples.

In [ ]:
(x, y) = (10, 20)
print(x, y)

Remember that the parentheses can be omitted!

In [ ]:
x, y = 10, 20         
print(x, y)

You can iterate through each element of a tuple using a `for` loop.

In [ ]:
names = ('Holly', 'Warren', 'Ashley') 

for name in names:
    print(name)

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">Tuples vs. Lists</h1>

Tuples support all the same operations as lists, **except those that violate immutability**. 

Tuples support the following:
- Subscript indexing (for retrieving element values only)
- Methods such as `.index()` and `.count()`
- Built-in functions such as `len()`, `min()`, and `max()`
- The `in` keyword
- The `+` and `*` operators

Tuples do not support methods such as `.append()`, `.extend()`, `.remove()`, `.pop()`, `.reverse()`, `.insert()`, and `.sort()`.

###### Examples: Tuple indexing

In [ ]:
# example 1
stock = ('GOOG', 100, 490.10, 100)
print(stock[0], stock[1], stock[2], stock[3])

In [ ]:
# example 2
numbers = (1, 2, 3, 4, 5)
print(numbers[1])
print(numbers[:3])
print(numbers[1:3])
print(numbers[-1])

###### Examples:  The `.index()` and `.count()` methods

stock = ('GOOG', 100, 490.10, 100)
stock.index(100)

In [ ]:
stock = ('GOOG', 100, 490.10, 100)
stock.index(500)

In [ ]:
stock = ('GOOG', 100, 490.10, 100)
stock.count(100)

###### Examples: The `len()`, `min()`, and `max()` functions

In [ ]:
numbers = (1, 2, 3, 4, 5)
len(numbers)

In [ ]:
max(numbers)

In [ ]:
min(numbers)

###### Examples:  The `in` keyword

In [ ]:
numbers = (1, 2, 3, 4, 5)
3 in numbers

In [ ]:
10 in numbers

###### Example: The `+` and `*` operators

In [ ]:
numbers = (1, 2, 3, 4, 5)
new_numbers = numbers + numbers
new_numbers

In [ ]:
numbers = (1, 2, 3, 4, 5)
numbers += numbers
numbers

In [ ]:
numbers = (1, 2, 3, 4, 5)
new_numbers = numbers * 3
new_numbers

In [ ]:
numbers = (1, 2, 3, 4, 5)
numbers = numbers * 3
numbers

##### Example: Immutability

In [ ]:
numbers = (1, 2, 3, 4, 5)
numbers[0] = 100

In [ ]:
numbers.append(500)

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2">Unpack</h1>

The values in a tuple can be extracted by numerical index just like a list. However, it is more common to <em style="color:blue">unpack</em> tuples into a set of variables like this:

In [ ]:
stock = ('GOOG', 100, 490.10)
print(stock[0], stock[1], stock[2])

In [ ]:
stock = ('GOOG', 100, 490.10)

name, shares, price = stock

print(name, shares, price)

In [ ]:
address = ('www.python.org', 80) 

host, port = address

print(host, port)

In [ ]:
person = ('John', 'Smith', '02-727-3051')

first_name, last_name, phone = person

print(first_name, last_name, phone)

<h1 style="font-size:1.5em; font-family: verdana, Geneva, sans-serif; color:#00A0B2"><code style="color:inherit">tuple()</code> and <code style="color:inherit">list()</code></h1>

### 1. Lists to Tuples

In [ ]:
my_list = [6, 1, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

In [ ]:
my_tuple.sort()       # cannot sort, immutable object

In [ ]:
sorted_list = sorted(my_tuple)  # sorted creates new list
print(sorted_list, type(sorted_list))

In [ ]:
new_tuple = tuple(sorted_list)
print(new_tuple, type(new_tuple))

### 2. Tuples to Lists

In [ ]:
my_tuple = (6, 1, 3, 4)
my_list = list(my_tuple)
print(my_list)

In [ ]:
sorted_list = sorted(my_list)        # sorted creates new list
print(sorted_list, type(sorted_list))

In [ ]:
print('Before Sort', my_list)
my_list.sort()                       # sort my_list
print('After Sort', my_list)