# Python Crash Course

## Data Types

### Numberical Data Type

**Arithmetic operators**
            
| Operator | Operation         |
|----------|-------------------|
|  +       | addition          |
|  -       | subtraction       |
|  *       | multiplication    |
|  **      | exponentiation    |
|  /       | division	       |
|  //      | integer division  |
|  %       | modulo (remainder)|

**Arithmetic operator precedence**
            
When multiple operators are combined in a single expression, the operations are evaluated in order of precedence.

| Operator     | Description |
|--------------|-------------|
| ( )          | Parentheses|
| **           | Exponentiation| 
| *, /, //, %  | Multiplication, division, integer division, modulo|
| +, -         | Addition, subtraction|

The parentheses can be used to group code to achieve the precedence you want.

In [1]:
1 + 2

3

In [2]:
2 * 3

6

In [3]:
1 / 2

0.5

In [4]:
3 ** 3

27

In [5]:
9 % 4

1

In [6]:
(1 + 2) * 3

9

## Variables

**Common built-in data types**

The table below shows the basic data types used in Python.

| Category    | Type Name | Description                             |
|-------------|-----------|-----------------------------------------|
| Numbers     | int       | A whole number                          |
| Numbers     | float     | A floating-point number                 |
| Booleans    | bool      | A True or False value                   |
| Collections | str       | A sequence of characters                |  
| Collections | list      | An ordered sequence of values           |
| Collections | tuple     | An unmodified versionof lists           |
| Collections | dict      | An unordered grouping of key-value pairs|
| Collections | set       | An unordered grouping of values         |


An object that contains references to other objects is said to be a **container** or **collection**.

In [7]:
x = 1
y = 2
z = x + y
print(z)

3

In [8]:
type(z)

int

In [9]:
a = 3.532
print(type(a))

<class 'float'>

## String

In [10]:
"This is a string."

'This is a string.'

In [11]:
'This is also a string.'

'This is also a string.'

In [12]:
'Python is a programming language that lets you work more quickly and integrate your systems more effectively.'
"You can learn to use Python and see almost immediate gains in productivity and lower maintenance costs."
'Learn more about Python..'

'Learn more about Python..'

In [16]:
print("""Python is a programming language that lets 
you work more quickly and integrate your systems more effectively.
You can learn to use Python and see almost immediate 
gains in productivity and lower maintenance costs. 
Learn more about Python..""")

Python is a programming language that lets
you work more quickly and integrate your systems more effectively.
You can learn to use Python and see almost immediate
gains in productivity and lower maintenance costs.
Learn more about Python..

In [17]:
sentence = 'This is a string'

In [18]:
sentence.title()

'This Is A String'

In [19]:
sentence.upper()

'THIS IS A STRING'

In [20]:
sentence.lower()

'this is a string'

In [21]:
first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')
full_name = f"{first_name} {last_name}"
print(full_name)

Enter your first name: Data
Enter your last name: Cafe
Data Cafe

In [25]:
num1 = 5
print(f'This is number 5')
print('This is number', num1)
print(f'This is number {num1}')

This is number 5
This is number 5
This is number 5

In [26]:
str_with_spaces = ' This string contains spaces. '

In [27]:
str_with_spaces.rstrip()

' This string contains spaces.'

In [28]:
str_with_spaces.lstrip()

'This string contains spaces. '

In [29]:
str_with_spaces.strip()

'This string contains spaces.'

In [30]:
tweet = 'I am learning. #PythonCrashCourse'

In [31]:
tweet.split()

['I', 'am', 'learning.', '#PythonCrashCourse']

In [34]:
tweet.split('#')

['I am learning. ', 'PythonCrashCourse']

In [36]:
tweet.split('#')[0]

'I am learning. '

## List
- A list is a collection of items in a particular order
- Lists are ordered collections, so you can access any element in a list by telling Python the position, or index, of the item desired
- Python considers the first item in a list to be at position 0, not position 1


```python
empty_list = []
sample_list = [1, 2, 3, 4, 5]
mixed_list = [1, 2.0, 'Hello', True]
```

In [37]:
[1, 2, 3]

[1, 2, 3]

In [38]:
['abc', 1, [10, 20]]

['abc', 1, [10, 20]]

In [39]:
alist = ['a', 'b', 'c']

In [40]:
alist[0]

'a'

In [41]:
alist[-1]

'c'

In [42]:
alist.append('d')

In [43]:
alist

['a', 'b', 'c', 'd']

In [44]:
alist.insert(0, '-')

In [45]:
alist

['-', 'a', 'b', 'c', 'd']

In [46]:
alist[0] = '0'

In [47]:
alist

['0', 'a', 'b', 'c', 'd']

In [48]:
del alist[0]

In [49]:
alist

['a', 'b', 'c', 'd']

In [50]:
'a' in alist

True

In [51]:
dessert = ['cake', 'kakikori', 'candy', 'cookie']
dessert.sort()
print(dessert)

['cake', 'candy', 'cookie', 'kakikori']

In [52]:
dessert = ['cake', 'kakikori', 'candy', 'cookie']
print('Original: ', dessert)
print('Sorted List: ', sorted(dessert))
print('After Calling sorted: ', dessert)

Original:  ['cake', 'kakikori', 'candy', 'cookie']
Sorted List:  ['cake', 'candy', 'cookie', 'kakikori']
After Calling sorted:  ['cake', 'kakikori', 'candy', 'cookie']

**Some Useful Function:**
- `len()`  `min()`  `max()`  `sum()`

In [53]:
my_list = [1,2,3,4,5,6,7,8,9,10]

print('len:', len(my_list))
print('min:', min(my_list))
print('max:', max(my_list))
print('sum:', sum(my_list))

len: 10
min: 1
max: 10
sum: 55

**Mutability**

In [54]:
age = 20
id(age)

140711412995488

In [55]:
age = age + 1
id(age)

140711412995520

In [56]:
my_list = [1, 2, 3]
id(my_list)

2478210072392

In [57]:
my_list.append(99)
my_list

[1, 2, 3, 99]

In [58]:
id(my_list)

2478210072392

**Caution: Copy List**

In [59]:
# Copy problem
list_a = [1,2,3,4,5]
list_b = list_a

list_a[1] = 4

print(list_a)
print(list_b)

[1, 4, 3, 4, 5]
[1, 4, 3, 4, 5]

In [60]:
# Why?
print(id(list_a))
print(id(list_b))

2478210002120
2478210002120

In [61]:
# Solution 1
list_a = [1,2,3,4,5]
list_b = list(list_a)

list_a[1] = 4

print(list_a)
print(list_b)

[1, 4, 3, 4, 5]
[1, 2, 3, 4, 5]

In [62]:
print(id(list_a))
print(id(list_b))

2478210011720
2478210012808

In [63]:
# Solution 2
list_a = [1,2,3,4,5]
list_b = list_a[:]

list_a[1] = 4

print(list_a)
print(list_b)

[1, 4, 3, 4, 5]
[1, 2, 3, 4, 5]

In [70]:
id(list_a)

2478209160264

In [69]:
id(list_a[1:4])

2478209823752

In [64]:
list_a = [[1,2,3],2,3,4,5]
list_b = list(list_a)

list_a[0][0] = 4

print(list_a)
print(list_b)

[[4, 2, 3], 2, 3, 4, 5]
[[4, 2, 3], 2, 3, 4, 5]

In [66]:
print(id(list_a[0]))
print(id(list_b[0]))

2478209934600
2478209934600

## Dictionaries


```python
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3', ...}
```

In [71]:
capital = {'Thailand':'Bangkok', 'Japan':'Tokyo', 'United Kingdom':'London'}

In [73]:
capital['Japan']

'Tokyo'

In [74]:
grades = {'English':97, 'Math':93, 'Art':74, 'Music':86} 

print(grades.keys())
print(grades.values())
print(grades.items())

dict_keys(['English', 'Math', 'Art', 'Music'])
dict_values([97, 93, 74, 86])
dict_items([('English', 97), ('Math', 93), ('Art', 74), ('Music', 86)])

In [75]:
capital = {'Thailand':'Bangkok', 'Japan':'Tokyo', 'United Kingdom':'London','Bangkok':'Nonthaburi'}

# Keys
print('Thailand' in capital)
print('Japan' in capital)

# Values
print('Bangkok' in capital)
print('Vientiane' in capital)

# Both
print('Bangkok' in capital)

# Neither
print('Laos' in capital)

True
True
True
False
True
False

In [76]:
capital = {'Thailand':'Bangkok', 'Japan':'Tokyo', 'United Kingdom':'London'}
keys = ['Thailand','Japan']

for key in keys:
    if key in capital:
        print(key, capital[key])
    else:
        print('{} not in mapping'.format(key))

Thailand Bangkok
Japan Tokyo

### Dictionary as a Set of Counters

In [79]:
speech = "to be or not to be" 
speech_list = speech.split()
print(speech_list)
word_count_dict = {}

for word in speech_list:
    if word in word_count_dict:
        word_count_dict[word] += 1
    else:
        word_count_dict[word] = 1
    print(word_count_dict)
print(word_count_dict)

['to', 'be', 'or', 'not', 'to', 'be']
{'to': 1}
{'to': 1, 'be': 1}
{'to': 1, 'be': 1, 'or': 1}
{'to': 1, 'be': 1, 'or': 1, 'not': 1}
{'to': 2, 'be': 1, 'or': 1, 'not': 1}
{'to': 2, 'be': 2, 'or': 1, 'not': 1}
{'to': 2, 'be': 2, 'or': 1, 'not': 1}

## Tuples
Tuples cannot be modified.

Tuples do not support methods such as `.append()`, `.extend()`, `.remove()`, `.pop()`, `.reverse()`, `.insert()`, and `.sort()`.

In [ ]:
t = (10, 20, 30)

## Sets

Sets are <em style="color:red">mutable</em> unordered collections of distinct <em style="color:blue">immutable</em> objects. 
```python
classes = {'English', 'Math', 'Art', 'Music'}
```

In [80]:
{'a', 'b', 'c'}

{'a', 'b', 'c'}

In [81]:
{'a', 'a', 'b', 'c', 'c', 'c'}

{'a', 'b', 'c'}

In [82]:
text = '''Python is a programming language that lets 
you work more quickly and integrate your systems more effectively.
You can learn to use Python and see almost immediate 
gains in productivity and lower maintenance costs. 
Learn more about Python'''
word_list = text.split() 
unique_word  = set(word_list)
unique_word

{'Learn',
 'Python',
 'You',
 'a',
 'about',
 'almost',
 'and',
 'can',
 'costs.',
 'effectively.',
 'gains',
 'immediate',
 'in',
 'integrate',
 'is',
 'language',
 'learn',
 'lets',
 'lower',
 'maintenance',
 'more',
 'productivity',
 'programming',
 'quickly',
 'see',
 'systems',
 'that',
 'to',
 'use',
 'work',
 'you',
 'your'}

**1. Add Elements: `.add()`, `.update()`**

**2. Delete Elements: `.remove()`, `.discard()`, `.pop()`**

**3. Copy a Set: `.copy()`**

**4. Perform Mathermatical Set Operations:**
- `.difference()`
- `.union()`
- `.intersection()`
- `.isdisjoint()`
- `.issubset()`
- `.issupperset()`

In [83]:
my_set = set([3, 1, 1, 3, 6, 5])
print(my_set)

my_set.add(10)     # Add a single element
print(my_set)

my_set.add(5)      # Try to add the same element
print(my_set)

my_set.update([66, 27, 39])      # Add multiple elements
print(my_set)

{1, 3, 5, 6}
{1, 3, 5, 6, 10}
{1, 3, 5, 6, 10}
{1, 66, 3, 5, 6, 39, 10, 27}

In [84]:
my_set = set([3, 1, 1, 3, 6, 5])
print(my_set)

my_set.discard(3)  # Remove an element from a set if it is a member.
print(my_set)

my_set.remove(5)   # Remove an element from a set if it is a member.
print(my_set)

my_set.discard(7)  # If the element is not a member, do nothing.
print(my_set)

{1, 3, 5, 6}
{1, 5, 6}
{1, 6}
{1, 6}

In [87]:
my_set = set([7, 3, 1, 1, 3, 6, 5, 9])
print(my_set)

my_set.pop()       # Remove and return an arbitrary set element.
print(my_set)

{1, 3, 5, 6, 7, 9}
{3, 5, 6, 7, 9}

In [88]:
classes = {'English', 'Math', 'Art', 'Music'}
classes2 = classes.copy()     

print('classes = ', classes)
print('classes2 = ', classes2)
print('classes2 is classes', classes2 is classes)
print('classes2 == classes', classes2 == classes)

classes =  {'English', 'Math', 'Music', 'Art'}
classes2 =  {'English', 'Math', 'Music', 'Art'}
classes2 is classes False
classes2 == classes True

In [89]:
# .difference()

set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}

print('set1 =', set1)
print('set2 =', set2)

print(set1.difference(set2))
print(set2.difference(set1))

set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}
{4}
set()

In [90]:
# .union()

set1 = {1, 2, 3}
set2 = {1, 2, 4}

print('set1 =', set1)
print('set2 =', set2)

print(set1.union(set2))
print(set2.union(set1))

set1 = {1, 2, 3}
set2 = {1, 2, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [91]:
# .intersection()

set1 = {1, 2, 3}
set2 = {1, 2, 4}

print('set1 =', set1)
print('set2 =', set2)

print(set1.intersection(set2))
print(set2.intersection(set1))

set1 = {1, 2, 3}
set2 = {1, 2, 4}
{1, 2}
{1, 2}

In [92]:
# .isdisjoint()

set1 = {1,2}
set2 = {1,2,4}
set3 = {5}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

False
True

In [93]:
# .issubset()

set1 = {1,2}
set2 = {1,2,4}

print(set1.issubset(set2))
print(set2.issubset(set1))

True
False

In [94]:
# .issuperset()

set1 = {1,2}
set2 = {1,2,4}

print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
True

## Boolean Type and Operators

Boolean (`bool`) type has only two values **`True`** and **`False`**.  

**Comparison Operators**

| Operator | Description              |
|----------|--------------------------|
| <        | Less than                |
| <=       | Less than or equal to    |
| >        | Greater than             |
| >=       | Greater than or equal to |
| ==       | Equal to                 |
|!=        | Not equal to             |

>Note:
>- alphabetically `'A'` is less than `'B'`
>- lower case `'a'` is greater than upper case `'A'`

In [95]:
1 < 2

True

In [96]:
1 > 2

False

In [97]:
1 <= 1

True

In [98]:
1 >= 4

False

In [99]:
'a' == 'a'

True

In [100]:
'a' == 'A'

False

In [101]:
'hello' != 'hi'

True

## Logical Operators

In [102]:
(1 > 2) and (3 == 3)

False

In [103]:
(1 > 2) or (3 == 3)

True

## Conditional statements: if, elif, else

**Syntax for a one-way `if` statement:**
```python
if condition:
    statement(s)
```

**Syntax for a two-way `if-else` statement:**
```python
if condition:
    statement(s)   # for True case
else:
    statement(s)   # for False case
```

**Syntax for a multi-way `if-elif-else` statement:**

```python
if condition1:
    perform action1
elif condition2:
    perform action2
else: 
    perform action3
```

In [104]:
salary = 120000
if salary > 100000:
    print('High Paying Job')

High Paying Job

In [105]:
salary = 12000
if salary > 100000:
    print('High Paying Job')
else:
    print('Low Paying Job')

Low Paying Job

In [106]:
bmi = 19
if bmi < 18.5:
    print('Underweight')
elif 18.5 <= bmi < 25:
    print('Normal')
elif 25 <= bmi < 30:
    print('Overweight')
else:
    print('Obese')

Normal

## `for` Loops

```python
for element in collection:
    statement(s)
```

In [107]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for item in seq:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [108]:
seq = ['a', 'b', 'c', 'd']
for i, val in enumerate(seq):
    print(i, val)

0 a
1 b
2 c
3 d

In [109]:
enumerate(seq)

In [113]:
range(9000000000)

range(0, 9000000000)

In [112]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [110]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [118]:
x = [(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four')]
for a, b in enumerate(x):
    c,d = b
    print(a,c,d)

0 1 One
1 2 Two
2 3 Three
3 4 Four

## `while` Loops

```python
while expression:
    statement(s)
```


```python
while True:
    print('write forever, unless there is a "break"')
```

In [119]:
i = 1
while i < 4:
    print(i)
    i += 1

1
2
3

In [120]:
while True:
    name = input('Enter name or "done" to exit: ')
    if name == 'done':
        break
    print(name)
print('DONE!')

Enter name or "done" to exit: a
a
Enter name or "done" to exit: s
s
Enter name or "done" to exit: d
d
Enter name or "done" to exit: r
r
Enter name or "done" to exit: t
t
Enter name or "done" to exit: done
DONE!

## `range()`

In [121]:
range(10)

range(0, 10)

In [122]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [124]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [125]:
squares = []
for n in range(1,11):
    squares.append(n * n)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Functions


```python
def function_name(parameters):
    body
```


- **`def`**: a keyword indicating a function definition
- **`function_name`**: the function name 
- **`parameters`**: the parameter(s) of the function, 0 or more and are separated by a comma
a parameter is a variable whose value will be supplied when the function is called
- **`body`**: 1 or more statements, often ending with a `return` statement

**The general form of a `return` statement:**

```python
return expression
```

In [126]:
def add_one(value):
    return value + 1

In [127]:
add_one(10)

11

In [128]:
# Global vs Local Variables

num1 = 5

def abc():
    num1 = 10
    num2 = num1*5
    print(num2)

In [129]:
abc()

50

In [130]:
print(num1)

5

In [131]:
print(num2)

NameError: name 'num2' is not defined

## Lambda Expressions

`lambda` expression
```python
lambda arguments: expression```

is equivalent to

```python
def name(arguments):
    return expression```

In [132]:
def square(x):
    return x*x

In [136]:
square(2)

4

In [135]:
sq = lambda x: x*x

In [137]:
sq(2)

4

## map() and filter()

In [138]:
seq = list(range(5))
seq

[0, 1, 2, 3, 4]

In [139]:
map(square, seq)

In [140]:
list(map(square, seq))

[0, 1, 4, 9, 16]

In [141]:
list(map(lambda x: x*x, seq))

[0, 1, 4, 9, 16]

In [142]:
filter(lambda x: x%2 == 0, seq)

In [143]:
list(filter(lambda x: x%2 == 0, seq))

[0, 2, 4]